# SOF

# This file is managed. Change will be lost.
#
{## Generated on: {{ '%Y-%m-%d %H:%M:%S'| strftime(ansible_date_time.epoch) }}#}
{% set my_hostname = ansible_hostname|upper %}

command[check_users]={{ path_monitoring_script_1 }}/check_users -w 5 -c 10
command[check_load]={{ path_monitoring_script_1 }}/check_load -w {{ (ansible_processor_vcpus * 1.5)|round(2,'ceil') }},{{ (ansible_processor_vcpus * 1.25)|round(2,'ceil') }},{{ ansible_processor_vcpus }} -c {{ ansible_processor_vcpus * 2 }},{{(ansible_processor_vcpus * 1.5)|round(2,'ceil')}},{{ (ansible_processor_vcpus * 1.2)|round(2,'ceil') }}
command[check_cpu]=/usr/local/bin/check_cpu -w 80 -c 90
command[check_mem]=/usr/local/bin/check_mem -w 80 -c 90
{# actuellement par défaut: / /var /usr /tmp /etc /data swap #}
{# Liste les partitions afin de créer des checks #}
{% for item in ansible_mounts %}
{% set my_item='None' %}
{% if item.mount=='/' %}{% set my_item='root'%}{% else %}{%set my_item=item.mount|replace('/','',1)|replace('/','_')%}{% endif %}{% if 'snap_' not in my_item %}
command[check_disk_{{my_item}}]={{ path_monitoring_script_1 }}/check_disk -w 20% -c 10% -p {{item.mount}}
{% endif %}{% endfor %}
command[check_swap]={{ path_monitoring_script_1 }}/check_swap -w 20% -c 10%
command[check_zombie_procs]={{ path_monitoring_script_1 }}/check_procs -w 5 -c 10 -s Z
command[check_total_procs]={{ path_monitoring_script_1 }}/check_procs -w 150 -c 200
command[check_need_reboot]=/usr/local/bin/check_reboot_required

# EOF
