# SOF

# This file is generated automatically. Edit will be lost.
#
{## Generated on: {{ '%Y-%m-%d %H:%M:%S'| strftime(ansible_date_time.epoch) }}#}
#
# HOST DEFINITION
#

# Define a host for the local machine

define host{
        use                     {{ our_server_tt|default('linux-server') }}
        host_name               {{ ansible_hostname }}
        alias                   Serveur {{ ansible_hostname }}
        address                 {{ ansible_default_ipv4.address }}
        icon_image              linux40.png
        icon_image_alt          Serveur Linux
        statusmap_image         linux40.png
        hostgroups              linux-servers
        }

#
# SERVICE DEFINITIONS
#

{# ping, cpu, load et swap #}
define service{
        use                             {{ our_service_tt|default('generic-service') }}
        host_name                       {{ ansible_hostname }}
        service_description             ping
        check_command                   check_ping!100.0,20%!500.0,60%
        contact_groups                  admins
        notification_interval           0
        }

define service{
        use                             {{ our_service_tt|default('generic-service') }}
        host_name                       {{ ansible_hostname }}
        service_description             Load
        check_command                   check_nrpe!check_load
        contact_groups                  admins
        notification_interval           0
        }

define service{
        use                             {{ our_service_tt|default('generic-service') }}
        host_name                       {{ ansible_hostname }}
        service_description             CPU usage
        check_command                   check_nrpe!check_cpu
        contact_groups                  admins
        notification_interval           0
        }

define service{
        use                             {{ our_service_tt|default('generic-service') }}
        host_name                       {{ ansible_hostname }}
        service_description             Memory usage
        check_command                   check_nrpe!check_mem
        contact_groups                  admins
        notification_interval           0
        }

{# List all partitions to create checks, only real one #}
{% for item in ansible_mounts %}
{% set my_item='None' %}
{% if item.mount=='/' %}{% set my_item='root'%}{% else %}{%set my_item=item.mount|replace('/','',1)|replace('/','_')%}{% endif %}{% if 'snap_' not in my_item %}

define service {
        use                             {{ our_service_tt|default('generic-service') }}
        host_name                       {{ ansible_hostname }}
        service_description             Disk {{item.mount}} Usage
        check_command                   check_nrpe!check_disk_{{ my_item }}
        contact_groups                  admins
        notification_interval           0
        }
{% endif %}{% endfor %}

define service{
        use                             {{ our_service_tt|default('generic-service') }}
        host_name                       {{ ansible_hostname }}
        service_description             Reboot required
        check_command                   check_nrpe!check_need_reboot
        contact_groups                  admins
        notification_interval           0
        }

# EOF
